<div class="box">
  <img class="image" [src]="product.images[0]" alt="" />
<h1>{{ product.title }}</h1>
</div>
<div class="container">
<div class="items"><b>Description :</b> {{ product.description }} </div>
<div class="items"><b>Price:</b> ${{ product.price }}</div>
<div class="items"><b>Brand:</b> {{ product.brand }}</div>
<div class="items"><b>Category:</b> {{ product.category }}</div>
<div class="items"><b>Stock:</b> {{ product.stock }}</div>
<div class="items"><b>Discount Percentage:</b> {{ product.discountPercentage }}</div>
<div class="items"><b>Rating:</b> {{ product.rating }}</div>
</div>